

body *{
    font-family: 'Nunito', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(27,244,237,0.7289040616246498) 3%, rgba(95,95,247,1) 56%, rgba(192,0,255,1) 100%);
    color: #DCE0DF;
    max-width: 100%;
    max-height: 100%;
}

#logo{
    display: inline;
    padding: 5px;
    height: 90px;
    width: 90px;
    font-size: 50px;
    margin-left: 150px;
}
br {
    margin-left: 200px;
}
p {
    vertical-align: 35px;
    padding: 5px;
    font-size: 40px;
    display: inline;

}

.title{
    font-size: 50px;
    margin-left: 90px;
    padding: 40px;
    max-width: 350px;
}
#center{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fotao{
    max-width: 500px;
    max-height: 500px;
}
h2 {        
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
    display: inline;
    margin-left: 130px;
}
.sub-title {
    display: flex;
    
    
}


#bottone5 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 150px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    float: right;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    margin-bottom: 20px;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
   }
   
   #bottone5:hover,
   #bottone5:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
   }
   
   #bottone5:hover {
    transform: translateY(-1px);
   }
   
   #bottone5:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
   }
#btn{
    

}
  